html,
#body {
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  background-color: #8F7900;

}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
#appContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0px 10px 0px;
}
/* ERROR */
#errorCol{
  background-color: transparent;
  border: none;
  display: flex;
      justify-content: center;
 
}
#pageNotFound {
  text-align: center;
  font-family: "Signika", sans-serif;
  color: #8b3636;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding: 100px;
  height: 100%;
  text-transform: uppercase;
  margin: 50px;
}
/* Text */
#errorMessage {
  color: #70150F;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-style: italic;
  font-family: "Ubuntu Mono", monospace;
}
#welcomeLabel{
      display: flex;
        align-items: center;
        text-transform: uppercase;
        gap: 10px;
        justify-content: center;
        font-family: "Roboto Condensed", sans-serif;
        color: #3D0F13;
}
#homeSection1{
      margin: 10px 0px 10px 0px;
        background: #CCC53F;
        padding: 10px 0px 10px 0px;
}