/* FOOTER */
#footer {
    background-color: #B82C3A;
    margin: 10px 0px 25px 0px;
    padding: 15px 0px 0px 5px;
    display: flex;
    flex-direction: column;
}
.userStatusList {
    display: flex;
    width: 100%;
    padding: 0px;
    list-style: none;
        flex-direction: column;
            text-decoration: underline;
}
#footerRow {
    display: flex;
        margin: 0px;
        padding: 0px;
}
#footerStatusCol {
    display: flex;
    justify-content: flex-start;
        padding: 0px;
            margin: 0px;
}
#footerTimeCard {
    display: flex;
}
#adminStatus {
    display: flex;
    gap: 10px;
        text-transform: uppercase;
        font-family: "Alkatra", system-ui;
            text-decoration: underline;
    width: 100%;
        background-color: transparent;
            border: none;
}
#company{
    display: flex;
        gap: 10px;
        text-transform: uppercase;
        font-family: "Alkatra", system-ui;
        text-decoration: underline;
        width: 100%;
            background-color: transparent;
                border: none;
}
#position {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    font-family: "Alkatra", system-ui;
    text-decoration: underline;
    width: 100%;
    background-color: transparent;
    border: none;
}
#footerStatusStack{
    display: flex;
    width: 100%;
}
#footerTimeCard {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: transparent;
    border: none;
}
#footerListItem1 {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
        border: none;
}
#footerListItem2{
    display: flex;
    justify-content: flex-end;
        border: none;
        background-color: transparent;
}

#footerListItem3 {
    display: flex;
    justify-content: flex-end;
        border: none;
background-color: transparent;
}
/* Buttons */
#logoutBtn {
    width: 180px;
    font-weight: 700;
    color: black;
    display: flex;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    font-family: "Ubuntu Mono", monospace;
    gap: 10px;
}
