.labelText {
    font-weight: 900;
    font-family: "Signika", sans-serif;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
/* Layout */
#formHeadingRow {
    display: flex;
    padding: 10px 0px 5px 0px;
    margin: 0px;
    width: 100%;
    border-radius: 10px;
}
.formHeading{
    font-family: "Winky Rough", sans-serif;
    font-weight: 600;
}
#formHeadingCol {
    display: flex;
    padding: 10px 0px 5px 0px;
    margin: 0px;
    justify-content: center;
}

#newPasswordDisplayBtn {
    color: black;
    font-family: "Ubuntu Mono", monospace;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding: 7px;
    margin: 0px 0px 0px 0px;
    width: 180px;
}
#passwordDisplayBtn {
    color: black;
    font-family: "Ubuntu Mono", monospace;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding: 7px;
    margin: 0px 0px 0px 0px;
    width: 180px;
}