/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    background-color: #a9a9a9;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    height: fit-content;
}
#headingCol{
    display: flex;
}
/* NAVIGATION BAR */
#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
/* MAIN HEADER */
.mainHeading{
    text-align: center;
}
/* LOGGEDIN HEADER */