/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    background-color: #a9a9a9;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    height: fit-content;
    width:100%
}
#heading{
font-family: "Winky Rough", sans-serif;
font-weight: 800;
color: #470D09;
}
#headerRow{
    margin: 0px;
        padding: 0px;
        width: 100%;
}
#headingCol{
    display: flex;
}
/* NAVIGATION BAR */
#headerStack {
    display: flex;
    align-items: center;
    background-color: transparent;
}
#navBlock{
    width: 100%;
        display: flex;
        justify-content: center;
}
.heading{
    font-family: "Alkatra", system-ui;
    font-weight: 700;
}
.navigation {
        display: flex;
            align-items: center;
            width: 100%;
        
           
            border: solid;
                padding: 10px 0px 0px 0px;
                margin: 10px;
                border-radius: 8px;
}
.linkText{
    margin: 0px;
}
.linkIcon{
    margin: 0px;
}
#headerCard {
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;

}

#cardHeader {
    display: flex;
    background-color: transparent;
    justify-content: center;
    border: none;
    padding: 0px;
    margin: 0px;
}

#listItem1 {
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-family: "Permanent Marker", cursive;
    background: inherit;

}

#listItem2 {
    text-align: center;
    text-transform: uppercase;
    border: none;
    background: inherit;
    font-family: "Permanent Marker", cursive;
    padding: 0px 10px;
    margin: 0px 3px;
}

#listItem3 {
    text-align: center;
    text-transform: uppercase;
    border: none;
    background: inherit;
    font-family: "Permanent Marker", cursive;
    padding: 0px 10px;
    margin: 0px 3px;
}
#navbar {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin:0px;
    padding: 0px;
}
.linkItem{
    padding: 0px 10px 0px 10px;
}
.refLink{
    text-decoration: none;
    font-weight: 700;
    display: flex;
    font-size: 18px;
    color: #134e50e6;
        margin: 0px;
                gap: 10px;
                border: solid;
                    padding: 0px 5px 0px 5px;
}

.refLink:hover {
    color: #2B3A0E;
    background-color: #AB9100;
    font-weight: 800;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}
/* MAIN HEADER */
.mainHeading{
    color: #70150F;
    text-align: center;
    font-family: "Winky Rough", sans-serif;
}
#headerTimeCard{
    display: flex;
    width: 240px;
    align-items: center;
    background: transparent;
        border: none;
}
#timeCardBody{
        background-color: cadetblue;
            border-radius: 8px;
}
/* Layout */
#headerTimeCol{
        display: flex;
            justify-content: flex-end;
            height: fit-content;
            margin: 0px;
            padding: 0px;
}

/* Clock */
#headingClock{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.formattedTime {
    font-family: "Signika", sans-serif;
    font-weight: 700;
    font-size: 25px;
}
/* LOGGEDIN HEADER */
#timeCol {
    display: flex;
        justify-content: flex-end;
        height: fit-content;
}
#timeCard {
    display: flex;
    justify-content: flex-end;
    border: none;
        background: transparent;
            display: flex;
                justify-content: flex-end;
                height: fit-content;
}
#headerTimeBody {
    display: flex;
        justify-content: flex-end;
    background-color: cadetblue;
    border-radius: 8px;
}