#toggleCalculatorStack{
        display: flex;
            align-items: center;
            padding: 10px 0px 0px 0px;
}
#calculatorRow {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px 0px 5px 0px;
    width: 100%;
}
#calculatorCol {
    display: flex;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    flex-direction: column;
    
}
#calculator {
    display: flex;
    margin: 10px 5px;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    background-color: #6c757d;

    border-radius: 10px;
}
#calculatorDisplayStack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 0px;
    background-color: #6c757d;
    border-radius: 8px;
}
.para2{
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 0px;
        margin: 0px;
        font-family: "Signika", sans-serif;
        font-weight: 700;
}
#amountDiv{
    display: flex;
        align-items: baseline;
        gap: 10px;
}
#calculatorDiv {
    display: flex;
    padding: 10px 5px;
        margin: 0px;
        background-color: silver;
            border: solid;
                border-radius: 10px;
    gap: 10px;
    flex-direction: column;
}
#timeDiv {
    display: flex;
        align-items: baseline;
        gap: 10px;
        align-items: center;
            flex-direction: column;
}
#amountBlock {
    gap: 5px;
    display: flex;
    justify-content: center;
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}
#interestBlock {
    gap: 5px;
    display: flex;
    justify-content: center;
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}
#totalInterest {
    gap: 5px;
    display: flex;
    justify-content: center;
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}
.calculatorLabel {
    display: flex;
    margin: 10px 5px;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    background-color: #6c757d;

    border-radius: 10px;
}
.interest {
    font-family: "Signika", sans-serif;
    text-align: center;
    font-weight: 900;
    color: #000000;
    margin: 0px;
    padding: 0px;
}
/* text */
.calculatorLabel {
    display: flex;
        flex-direction: column;
        align-items: center;
}
#calculatorHeading {
    font-weight: 800;
    font-family: "Alkatra", system-ui;
    text-align: center;
    font-size: 24px;
    color: gold;
}
/* Button */
#calculateBtn {
    font-family: "Ubuntu Mono", monospace;
    color: black;
    width: 200px;
    padding: 5px;
        font-size: 20px;
    font-weight: 700;
    border: none;
}
#toggleCalculatorBtn {
    display: flex;
    justify-content: center;
    width: 300px;
    color: #000;
    font-weight: 700;
    font-family: "Ubuntu Mono", monospace;
    gap: 10px;
}