#toggleEditUserBtn {
    display: flex;
    justify-content: center;
    width: 200px;
    color: #000;
    font-weight: 700;
    font-family: "Ubuntu Mono", monospace;
    gap: 10px;
}

#toggleEditPasswordBtn {
    display: flex;
    justify-content: center;
    width: 200px;
    color: #000;
    font-weight: 700;
    gap: 10px;
    font-family: "Ubuntu Mono", monospace;
}
#editUserDetails {
    display: flex;
    flex-direction: column;
    background-color: #B38705;
    border: solid black 3px;
    border-radius: 5px;
    padding: 10px;
        margin: 0px;
}
#editPasswordDetails {
    display: flex;
    flex-direction: column;
    background-color: #B38705;
    border: solid black 3px;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
}