/* SECTION 1 */
#accountSection1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    padding: 10px 5px 10px 5px;
    background-color: #AB9100;
    width: 100%;
    border: solid black 4px;
    margin: 0px 0px;
}

#user {
    background-color: #998200;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    border: solid black;
    border-radius: 5px;
    width: 100%;
}

#editAccountDiv {
    display: flex;
    justify-content: center;
    align-items: baseline;

    gap: 10px;
    padding: 10px 5px 10px 5px;
    background-color: #AB9100;
    width: 100%;

    margin: 10px 0px 10px 0px;
}

#editPasswordDiv {
    display: flex;

    justify-content: center;
    align-items: baseline;
    gap: 10px;
    padding: 10px 5px 10px 5px;
    background-color: #AB9100;
    width: 100%;

    margin: 10px 0px 10px 0px;
}

.userDetailsLabel {
    display: flex;
    text-transform: uppercase;
    align-items: baseline;
    gap: 10px;
    font-family: "Roboto Condensed", sans-serif;
}


#detailsHeadCol {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 700;
    gap: 10px;
}

#detailsIcon {
    display: flex;
    align-items: center;

}

#userDetailsHead {
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    align-items: center;
    text-decoration: underline;
}

#userDetailsRow {
    border-radius: 5px;
    margin: 0px;
    display: flex;
    background-color: #CCC53F;
    padding: 0px 10px;
}

#userHeadRow {
    margin: 0px;
    display: flex;
    padding: 0px 10px;
    margin: 10px 0px 10px 0px;
}
#toggleEditUserBtn {
    display: flex;
    justify-content: center;
    width: 200px;
    color: #000;
    font-weight: 700;
    font-family: "Ubuntu Mono", monospace;
    gap: 10px;
}

#toggleEditPasswordBtn {
    display: flex;
    justify-content: center;
    width: 200px;
    color: #000;
    font-weight: 700;
    gap: 10px;
    font-family: "Ubuntu Mono", monospace;
}
#editUserDetails {
    display: flex;
    flex-direction: column;
    background-color: #B38705;
    border: solid black 3px;
    border-radius: 5px;
    padding: 10px;
        margin: 0px;
}
#editPasswordDetails {
    display: flex;
    flex-direction: column;
    background-color: #B38705;
    border: solid black 3px;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
}