#regisSection {
    background-color: #A39E33;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: none;

}
#register{
    padding: 5px 5px 10px 5px;
        margin: 0px;
    background-color: darkgray;
        border-radius: 5px;
}
.regisLabel{
    display: flex;
    gap: 10px;
        align-items: baseline;
}
#fullName{
    display: flex;
    gap: 15px;
}
#contactDetails {
    display: flex;
    gap: 15px;
}
#regisRow1{
    display: flex;
    align-items: baseline;
    padding: 10px 0px 10px 0px;
        margin: 10px 0px 10px 0px;
}
#regisRow2{
    display: flex;
        align-items: baseline;
    padding: 10px 0px 10px 0px;
        margin: 10px 0px 10px 0px;
}
#regisRow3 {
    display: flex;
        align-items: baseline;
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
}
#regisRow4 {
    display: flex;
        align-items: baseline;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}
#regisRow5 {
    display: flex;
        align-items: baseline;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}
#regisRow6{
    display: flex;
    align-items: baseline;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}
#registrationForm {
    padding: 10px;
    margin: 10px 5px 10px 5px;
    background-color: gray;
    border-radius: 5px;

}
#regisBtnStack {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    width: 100%;
}
/* text */
#passwordMsg {

    text-transform: uppercase;
    font-family: "Signika", sans-serif;
    color: #470D09;
font-weight: 700;
}

#contactMsg {
    text-transform: uppercase;
    font-family: "Signika", sans-serif;
    color: #470D09;
    font-weight: 700;
}
/* Buttons */
#clearRegisBtn {
    color: #000000;
    display: block;
    width: 180px;
    font-family: "Ubuntu Mono", monospace;
    border: none;
    /* font-size: 16px; */
    font-weight: 700;
}

#registrationBtn {
    color: #000000;
    display: block;
    width: 180px;
    font-family: "Ubuntu Mono", monospace;
    border: none;
    /* font-size: 16px; */
    font-weight: 700;
}
